streamlit>=1.38.0
pandas>=2.2.3
scikit-learn>=1.5.1
plotly>=5.23.0
python-dotenv>=1.0.1
deep-translator>=1.11.4
requests>=2.32.3
google-genai>=2.12.0
openai>=1.42.0
sqlalchemy>=2.0.32
openpyxl>=3.1.5
flask>=3.0.0
streamlit-option-menu
streamlit-lottie
nltk
emoji
rapidfuzz>=3.9.6